%h2 Features

%table
  %tr
    %th{:colspan => 3}
    %th Topic
    %th Rating
    %th Author
    %th Pubmed
    %th URL
    %th Comment

  = render @gene.features

%br
= link_to 'Add another feature', new_gene_feature_path(@gene)
