%h2 Variants

%table
  %tr
    %th
    %th UCSC
    %th Genomic
    %th Function
    %th Interest
    %th NMI
    %th Validation
    %th DbSNP
    %th Freq
    %th Freq finn
    %th Source

  = render @gene.variants

