%h2 Variants

%table
  %tr
    %th{:colspan => 3}
    %th Key
    %th Function
    %th Interest
    %th NMI
    %th Validation
    %th DbSNP
    %th Freq
    %th Freq finn
    %th Source

  = render @gene.variants

