!!!
%html
  %head
    %title Moebius Gene Safari
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body

  .nav_container
    .nav
      %h2 Gene Safari
      %ul
        %li
          %a{:href => genes_path }  Genes
        %li
          %a{:href => topics_path } Topics
        %li
          %a{:href => users_path }  Users

  .global_content
    = yield
