// Place all the styles related to the genes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.criteria {
  border: solid 1px gray;
  background-color: #DDD;
  padding: 1em;
  margin: 1em;
}

a:link.admin_task,a:visited.admin_task {
  color: #F00;
}
a:hover.admin_task,a:active.admin_task {
  color: #CCC;
  background-color: #F00;
}
